In [1]:
from pymongo import MongoClient
client = MongoClient('mongodb://127.0.0.1:27017')

In [2]:
mydb=client['Database']
collection=mydb.EmployeeDatabase

In [3]:
#select * from 'table name'
for r in collection.find():
    print(r)

{'_id': ObjectId('603cef78321fea7f1bef15b8'), 'First name': 'Krishna', 'Last Name': 'Kumar', 'Age': 25}
{'_id': ObjectId('603cf092321fea7f1bef15b9'), 'First name': 'Krishna', 'Last Name': 'Kumar', 'Age': 25}
{'_id': ObjectId('603cf092321fea7f1bef15ba'), 'First name': 'Mahatab', 'Last Name': 'Hossain', 'Age': 24}
{'_id': ObjectId('603cf092321fea7f1bef15bb'), 'First name': 'Krishna', 'Last Name': 'Kumar', 'Age': 29}
{'_id': ObjectId('603cf092321fea7f1bef15bc'), 'First name': 'Krishna', 'Last Name': 'Mahesh', 'Age': 29}
{'_id': ObjectId('603cf092321fea7f1bef15bd'), 'First name': 'Ravi', 'Last Name': 'Kumar', 'Age': 25}
{'_id': ObjectId('603d089e3997f85ca384f186'), 'First name': 'Brajesh', 'Last Name': 'Kumar', 'Age': 30}
{'_id': ObjectId('603d089e3997f85ca384f187'), 'First name': 'Jamal', 'Last Name': 'Hossain', 'Age': 35}
{'_id': ObjectId('603d089e3997f85ca384f188'), 'First name': 'Krish', 'Last Name': 'radha', 'Age': 20}
{'_id': ObjectId('603d089e3997f85ca384f189'), 'First name': 'Mahesh', 'Last Name': 'Ramesh', 'Age': 29}
{'_id': ObjectId('603d089e3997f85ca384f18a'), 'First name': 'Tyagi', 'Last Name': 'giri', 'Age': 25}

In [4]:
#select * from 'where='xyz' clause like in NoSQL
for i in collection.find({'First name':'Ravi'}):
    print(i)

{'_id': ObjectId('603cf092321fea7f1bef15bd'), 'First name': 'Ravi', 'Last Name': 'Kumar', 'Age': 25}

In [5]:
# Query using $in $lt 
#Like sql IN ,AND,

In [6]:
#This query act like in operator in sql SELECT * FROM TABLE NAME WHERE LAST NAME IN () 
for i in collection.find({'Last Name':{'$in':['Kumar','Hossain']}}):
    print(i)

{'_id': ObjectId('603cef78321fea7f1bef15b8'), 'First name': 'Krishna', 'Last Name': 'Kumar', 'Age': 25}
{'_id': ObjectId('603cf092321fea7f1bef15b9'), 'First name': 'Krishna', 'Last Name': 'Kumar', 'Age': 25}
{'_id': ObjectId('603cf092321fea7f1bef15ba'), 'First name': 'Mahatab', 'Last Name': 'Hossain', 'Age': 24}
{'_id': ObjectId('603cf092321fea7f1bef15bb'), 'First name': 'Krishna', 'Last Name': 'Kumar', 'Age': 29}
{'_id': ObjectId('603cf092321fea7f1bef15bd'), 'First name': 'Ravi', 'Last Name': 'Kumar', 'Age': 25}
{'_id': ObjectId('603d089e3997f85ca384f186'), 'First name': 'Brajesh', 'Last Name': 'Kumar', 'Age': 30}
{'_id': ObjectId('603d089e3997f85ca384f187'), 'First name': 'Jamal', 'Last Name': 'Hossain', 'Age': 35}

In [8]:
#Finding the name which is ending 'Kumar' and age is less than 26
#Herecomma ','means AND operations
for i in collection.find({'Last Name':'Kumar','Age':{'$lt':26}}):
    print(i)

{'_id': ObjectId('603cef78321fea7f1bef15b8'), 'First name': 'Krishna', 'Last Name': 'Kumar', 'Age': 25}
{'_id': ObjectId('603cf092321fea7f1bef15b9'), 'First name': 'Krishna', 'Last Name': 'Kumar', 'Age': 25}
{'_id': ObjectId('603cf092321fea7f1bef15bd'), 'First name': 'Ravi', 'Last Name': 'Kumar', 'Age': 25}

In [11]:
#select * from 'table name' where last name='kumar' or age=25
for i in collection.find({'$or':[{'Last Name':'Kumar'},{'Age':25}]}):
    print(i)

{'_id': ObjectId('603cef78321fea7f1bef15b8'), 'First name': 'Krishna', 'Last Name': 'Kumar', 'Age': 25}
{'_id': ObjectId('603cf092321fea7f1bef15b9'), 'First name': 'Krishna', 'Last Name': 'Kumar', 'Age': 25}
{'_id': ObjectId('603cf092321fea7f1bef15bb'), 'First name': 'Krishna', 'Last Name': 'Kumar', 'Age': 29}
{'_id': ObjectId('603cf092321fea7f1bef15bd'), 'First name': 'Ravi', 'Last Name': 'Kumar', 'Age': 25}
{'_id': ObjectId('603d089e3997f85ca384f186'), 'First name': 'Brajesh', 'Last Name': 'Kumar', 'Age': 30}
{'_id': ObjectId('603d089e3997f85ca384f18a'), 'First name': 'Tyagi', 'Last Name': 'giri', 'Age': 25}

In [12]:
#select * from 'table name' where last name='kumar' AND age=25
for i in collection.find({'$and':[{'Last Name':'Kumar'},{'Age':25}]}):
    print(i)

{'_id': ObjectId('603cef78321fea7f1bef15b8'), 'First name': 'Krishna', 'Last Name': 'Kumar', 'Age': 25}
{'_id': ObjectId('603cf092321fea7f1bef15b9'), 'First name': 'Krishna', 'Last Name': 'Kumar', 'Age': 25}
{'_id': ObjectId('603cf092321fea7f1bef15bd'), 'First name': 'Ravi', 'Last Name': 'Kumar', 'Age': 25}